<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ul id='messages' style="list-style-type: none;">
        </ul>
        <script>
            var ws = new WebSocket("ws://localhost:8000/ws");

            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(JSON.stringify({message: input.value}))
                input.value = ''
                event.preventDefault()
            };

            ws.addEventListener('message', function (event) {
                var data = [];
                JSON.parse(event.data, (key, value) => {
                    if (key == "counter"){
                        data.push(value);
                    };
                    if (key == "message"){
                        data.push(value);
                    }
                });
                let ul = document.getElementById("messages");
                let li = document.createElement("li");
                li.appendChild(document.createTextNode(data[1] + ":" + data[0]));
                ul.appendChild(li);
            });
        </script>
    </body>
</html>